---
title: Home
layout: layouts/base.njk
---

<nav class="fixed top-0 w-100p flex align-items-center justify-content-center mt-24 z-10">
  <div class="border-1 border-card-border bg-card p-10 pr-24 radius-lg flex align-items-center">
    <a class="flex align-items-center justify-content-center radius-sm h-36 px-12 text-sm semibold bg-primary hover.bg-primary-hover color-black">
      <i class="fas fa-shopping-cart mr-12"></i> Buy now $39
    </a>
    <div class="mx-24 color-white color-opacity-40 semibold">
      or
    </div>
    <a class="text-sm semibold color-primary hover.color-primary-hover">
      Get Free Sample
    </a>
  </div>
</nav>


<section class="px-32 pt-144">
  <div class="flex align-items-center justify-content-center mb-64">
    <img src="/assets/img/senderplate-logo-white.svg" class="w-144">
  </div>

  <div class="color-white text-center text-sm semibold mb-10">
    By the makers of Uniform CSS
  </div>

  <h1 class="bold mx-auto text-center color-red-200 mb-32 text-4xl lg.text-10xl tracking-tight" style="max-width: 900px; line-height: 0.95;">
    HTML email templates made for <span class="color-red-300">Apps &amp; Developers</span>
  </h1>

  <p class="text-center max-w-512 mx-auto text-md mb-40">Everything you need to build beautifully crafted responsive HTML emails for your next start-up project, built with MJML support.</p>

  <div class="mb-96">
    <ul class="flex align-items-center justify-content-center gap-40">
      <li class="flex align-items-center color-white medium text-sm">
        <i class="fas fa-check color-primary mr-12"></i>
        Built with MJML
      </li>
      <li class="flex align-items-center color-white medium text-sm">
        <i class="fas fa-check color-primary mr-12"></i>
        Fully Responsive
      </li>
      <li class="flex align-items-center color-white medium text-sm">
        <i class="fas fa-check color-primary mr-12"></i>
        Outlook Compatible
      </li>
    </ul>
  </div>

  <div class="relative overflow-x-hidden overflow-y-visible">
    <div class="preview-carousel">
      <div class="preview-carousel__item z-1">
        <img src="https://via.placeholder.com/500x800">
      </div>
      <div class="preview-carousel__item z-2">
        <img src="https://via.placeholder.com/500x800">
      </div>
      <div class="preview-carousel__item z-3">
        <img src="https://via.placeholder.com/500x800">
      </div>
      <div class="preview-carousel__item z-4">
        <img src="/assets/img/hero/twitch.png">
      </div>
      <div class="preview-carousel__item z-3">
        <img src="/assets/img/hero/subscribe.png">
      </div>
      <div class="preview-carousel__item z-2">
        <img src="https://via.placeholder.com/500x800">
      </div>
      <div class="preview-carousel__item z-1">
        <img src="https://via.placeholder.com/500x800">
      </div>
    </div>
  </div>
</section>



<section class="px-32 pt-144">
  <div class="max-w-1024 mx-auto grid grid-cols-1 gap-72">
    <div class="grid grid-cols-2 gap-72">
      <div class="flex align-items-center">
        
        <div>
          <div class="flex align-items-center font-sm semibold color-white mb-24">
            <i class="fas fa-code color-indigo-300 mr-12"></i>
            Built with MJML
          </div>
          <h2 class="mb-24 font-4xl semibold color-barley-text">
            Built with the world's most powerful responsive email framework
          </h2>
          <p class="mb-32 text-md color-body">
            Coding responsive and email client compliant code from scratch can be tedious and time-consuming. Save time, and write less code with MJML’s simple syntax to quickly build highly flexible component based emails. 
          </p>
          <a class="inline-flex align-items-center color-primary semibold">
            Learn about MJML
            <i class="fas fa-arrow-right ml-12"></i>
          </a>
        </div>

      </div>
      <div>
        <img src="https://via.placeholder.com/500">
      </div>
    </div>

    <div class="h-1 w-100p bg-white bg-opacity-20"></div>

    <div class="grid grid-cols-2 gap-72">
      <div class="flex align-items-center">
        
        <div>
          <div class="flex align-items-center font-sm semibold color-white mb-24">
            <i class="fas fa-code color-indigo-300 mr-12"></i>
            Built with MJML
          </div>
          <h2 class="mb-24 font-4xl semibold color-barley-text">
            Built with the world's most powerful responsive email framework
          </h2>
          <p class="mb-32 text-md color-body">
            Coding responsive and email client compliant code from scratch can be tedious and time-consuming. Save time, and write less code with MJML’s simple syntax to quickly build highly flexible component based emails. 
          </p>
          <a class="inline-flex align-items-center color-primary semibold">
            Learn about MJML
            <i class="fas fa-arrow-right ml-12"></i>
          </a>
        </div>

      </div>
      <div>
        <img src="https://via.placeholder.com/500">
      </div>
    </div>
  </div>
</section>



<section class="px-32 pt-144">
  <div class="max-w-1024 mx-auto mb-96">
    <div class="flex align-items-center justify-content-center font-md semibold color-white mb-24">
      <i class="fas fa-random color-lime-300 mr-12"></i>
      Adaptable Components
    </div>

    <h1 class="bold mx-auto text-center color-lime-100 mb-32 text-3xl lg.text-10xl tracking-tight" style="max-width: 900px; line-height: 0.95;">
      Made to handle all email <span class="color-lime-300">blast situations</span>
    </h1>

    <p class="text-center max-w-512 mx-auto text-md mb-40">Everything you need to build beautifully crafted responsive HTML emails for your next start-up project, built with MJML support.</p>

    <div class="flex align-items-center justify-content-center gap-20">
      <a class="flex align-items-center justify-content-center radius-sm h-36 px-12 text-sm semibold bg-primary hover.bg-primary-hover color-black">
        <i class="fas fa-shopping-cart mr-12" aria-hidden="true"></i> Buy now $39
      </a>
      <div class="relative flex align-items-center justify-content-start radius-sm h-36 px-12 text-sm semibold font-mono bg-white bg-opacity-10 border-1 border-cool-gray-600 color-cool-gray-300 w-256">
        npm i uniformcss
      </div>
    </div>
  </div>

  <div class="mx-auto" style="max-width: 1920px;">
    <div class="grid grid-cols-6 gap-48">
      <div>
        <img src="https://via.placeholder.com/300x600">
      </div>

      <div>
        <img src="https://via.placeholder.com/300x600">
      </div>

      <div>
        <img src="https://via.placeholder.com/300x600">
      </div>

      <div>
        <img src="https://via.placeholder.com/300x600">
      </div>

      <div>
        <img src="https://via.placeholder.com/300x600">
      </div>

      <div>
        <img src="https://via.placeholder.com/300x600">
      </div>

    </div>

  </div>
</section>


<section class="px-32 pt-144">
  <div class="max-w-1024 mx-auto grid grid-cols-1 gap-72">
    <div class="grid grid-cols-1 sm.grid-cols-3 gap-72">
      <div>
        <h3 class="mb-24 font-6xl semibold color-pink-200">
          21 Custom <br>made <br>templates
        </h3>
        <p class="mb-32 text-md color-body">
          Choose from 21 hand-crafted email templates based on modern marketing and product email design patterns.
        </p>
      </div>
      
      <div>
        <h3 class="mb-24 font-6xl semibold color-red-200">
          Modular <br>component <br>based system
        </h3>
        <p class="mb-32 text-md color-body">
          Pick your sleeve, then import various content blocks from build out the template according to your needs.
        </p>
      </div>

      <div>
        <h3 class="mb-24 font-6xl semibold color-indigo-200">
          Built-in <br>Figma design <br>templates
        </h3>
        <p class="mb-32 text-md color-body">
          Gain access to the free Figma design template, each with overridable styles and components.
        </p>
      </div>

      <div>
        <h3 class="mb-24 font-6xl semibold color-lime-200">
          Support for <br>wide range of <br>use cases
        </h3>
        <p class="mb-32 text-md color-body">
          Whether its a marketing newsletter, or a product email. Choose from a diverse range of templates to fit your use case.
        </p>
      </div>

      <div>
        <h3 class="mb-24 font-6xl semibold color-cyan-200">
          Tested on all <br>modern email <br>clients
        </h3>
        <p class="mb-32 text-md color-body">
          All our email templates are tested on all modern email clients across both mobile and desktop.
        </p>
      </div>

      <div>
        <h3 class="mb-24 font-6xl semibold color-orange-200">
          Mobile-first <br>design <br>templates
        </h3>
        <p class="mb-32 text-md color-body">
          Every template is designed with mobile devices in mind and is all responsive straight out-of-the-box.
        </p>
      </div>
    </div>

  </div>
</section>





<section class="px-32 pt-144">
  <div class="max-w-1024 mx-auto mb-96">
    <div class="flex align-items-center justify-content-center font-md semibold color-white mb-24">
      <i class="fas fa-rocket color-indigo-300 mr-12"></i>
      Getting Started
    </div>

    <h1 class="bold mx-auto text-center color-indigo-200 mb-32 text-3xl lg.text-10xl tracking-tight" style="max-width: 600px; line-height: 0.95;">
      Simple package to <span class="color-indigo-300">get you started</span>
    </h1>

    <p class="text-center max-w-512 mx-auto text-md mb-40">Everything you need to build beautifully crafted responsive HTML emails for your next start-up project, built with MJML support.</p>

    <div class="flex align-items-center justify-content-center gap-20 mb-64">
      <a class="flex align-items-center justify-content-center radius-sm h-36 px-12 text-sm semibold bg-primary hover.bg-primary-hover color-black">
        <i class="fas fa-shopping-cart mr-12" aria-hidden="true"></i> Buy now $39
      </a>
      <div class="relative flex align-items-center justify-content-start radius-sm h-36 px-12 text-sm semibold font-mono bg-white bg-opacity-10 border-1 border-cool-gray-600 color-cool-gray-300 w-256">
        npm i uniformcss
      </div>
    </div>

    <div class="grid grid-cols-3 gap-24 mb-24">
      <div class="col-1 h-512 radius-xl bg-blue-500 text-white">
        gege
      </div>
      <div class="col-2 h-512 radius-xl bg-blue-500 text-white">
        gege
      </div>
    </div>
    <div class="h-320 radius-xl bg-blue-500 text-white">
      gege
    </div>
  </div>


</section>