<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ title }}</title>

    <!-- Page Meta -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="theme-color" content="#ffffff">

    <!-- Icons -->
    <link rel="icon" href="/favicon.ico" sizes="any">
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="manifest" href="/site.webmanifest">
    
    <!-- Styles -->
    {# <link rel="stylesheet" href="{{ '/assets/css/uniform.min.css' | url }}" /> #}

    <!-- Styles -->
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | url }}" />

    <!-- Font Awesome 5 -->
    <script src="/assets/libraries/fontawesome/js/all.min.js"></script>

    <!-- AlpineJS -->
    {# <script
      defer
      src="https://unpkg.com/@alpinejs/persist@3.2.2/dist/cdn.min.js"
    ></script> #}
    <script
      defer
      src="https://unpkg.com/alpinejs@3.2.2/dist/cdn.min.js"
    ></script>

    <!-- GSAP -->
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.0/gsap.min.js"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.0/ScrollTrigger.min.js"></script>

    <!-- Fathom - beautiful, simple website analytics -->
    <script src="https://cdn.usefathom.com/script.js" data-site="CEQUPOGM" defer></script>
  </head>
  <body class="antialiased text-slate-600 font-normal font-sans bg-[#010314]" x-data="main">
    
    {{ content | safe }}
    
    {% include "modals/preview.njk" %}
    <!-- Scripts -->
    <script src="/assets/js/main.js"></script>
  </body>
</html>
